:root {
    --sidebar-color: #112D4E;
    --main-color: #F5F5F5;
    --logo-color-1: #AAC3DD;
    --logo-color-2: #F9F7F7;
  }

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: var(--main-color);
}

.sidebar{
    width: 310px;
    height: 100vh;
    background-color: var(--sidebar-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}   

button{
    background-color: transparent;
    border: none;
}

.sidebar-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid var(--main-color);
}

.sidebar-header-logo #first-name{
    color: var(--logo-color-1);
}

.sidebar-header-logo #second-name{
    color: var(--logo-color-2);
}

.sidebar-header-logo{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sidebar-options{
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 100%;
    padding: 20px;
    gap: 20px;
}

.sidebar-options-card{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.sidebar-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--main-color);
    padding: 15px;
}

.sidebar-options-card img{
    width: 45px;
}

.sidebar-options-card button{
    color: var(--main-color);
    font-size: 20px;
}

.sidebar-footer img{
    width: 30px;
}

button:hover{
    cursor: pointer;
}